.content-container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 14px;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.title {
    font-size: 2em;
}

.form-item {
    padding: 15px 0;
}